@model  ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "Config";
}

<h2><font color="#a93865" font face="'Courier New'" style="border-bottom:dotted">Config</font></h2>


<div class="row">
    <div class="col-md-4">
        <h3><font color="#693858" size="5" face="verdana">Output Directory:  </font> <font size="4">@ViewBag.OutputDir </font> </h3>
        <h3><font color="#693858" size="5" face="verdana">Source Name:  </font> <font size="4">@ViewBag.ThumbnailSize </font> </h3>
        <h3><font color="#693858" size="5" face="verdana">Log Name:  </font> <font size="4">@ViewBag.LogName </font> </h3>
        <h3><font color="#693858" size="5" face="verdana">Thumbnail Size:  </font> <font size="4">@ViewBag.SourceName</font></h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Handlers)
                </th>
            </tr>

            @foreach (var item in Model.Handlers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item, "AskToRemoveHandler", new { handler = item })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
